{% extends 'base.html.twig' %}

{% block title %}Hello ListController!{% endblock %}

{% block body %}

<div class="container">
  <!-- Titre de la page-->
  <div class="row">
    <h1>Tous les les films</h1>
  </div>
  <!-- rang avec 1 à 6 colonnes-->
  <div class="row">
  {% for movie in movies %}
    <div class="col-12 col-md-2">
      <div class="card m-1">
        <img src="{{ movie.getPosterPath }}" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-title">{{ movie.title }}</p>
          <a href="#" class="btn btn-primary">Voir plus</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}